@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$orange: #FFB530;
$pink: #FF2C6F;

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

:global(.spin) {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-size: 14px;
  margin: 0;
}

body,
input[type="date"],
textarea {
  font-family: 'Open Sans';
}

body, button {
  letter-spacing: .075em;
}

:global(.wrapper) {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}

.header {
  background-color: $pink;
  color: #fff;
  padding: 20px 15px;
  font-weight: bold;

  :global(.wrapper) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.intro {
  background-color: #fff;
  border-bottom-color: #eee;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 45px 20px 20px 20px;
}

.heading {
  color: $pink;
  font-size: 22px;
  font-weight: bold;
}

.formBody {
  padding: 20px 20px 35px 20px;
}

.footer {
  background-color: $pink;
  padding: 20px;

  :global(.wrapper) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

fieldset {
  border-color: #eee;
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

legend {
  font-size: 12px;
  margin-bottom: 10px;
  padding-right: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
input[type="date"],
input[type="password"],
input[type="text"],
textarea {
  background-color: #fff;
  border: 1px solid #979797;
  border-radius: 2px;
  color: #777;
  display: block;
  max-width: 260px;
  padding: 6px 10px;
  width: 100%;

  &:disabled {
    background-color: #eee;
  }
}

select {
  padding-bottom: 5px;
  padding-top: 5px;
}


.fieldgroup {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.checkbox {
  font-size: 10px;
}

button {
  background-color: $orange;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 40px;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);

  &:disabled {
    background-color: darken($orange, 10%);
    color: darken(#fff, 10%);
  }
}

.modalOverlay {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal {
  background-color: #fff;
  box-shadow: 0 0 5px #ddd;
  padding: 30px;
}
